In [298]:
import pandas as pd
import numpy as np

In [299]:
df2=pd.read_csv("C://Users//Dell//Documents//python assignments//assignments question//machine learning 3//data sets/pima-indians-diabetes .csv")

In [300]:
df2 # loaded the data set

     Preg  Plas  Pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

In [301]:
df2.isnull().sum() # checking for null values

Preg     0
Plas     0
Pres     0
skin     0
test     0
mass     0
pedi     0
age      0
class    0
dtype: int64

In [302]:
df2.describe() # detail check

,Preg,Plas,Pres,skin,test,mass,pedi,age,class
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [303]:
df2["Plas"]=df2["Plas"].replace(0,df2["Plas"].mean())
df2["Pres"]=df2["Pres"].replace(0,df2["Pres"].mean())
df2["skin"]=df2["skin"].replace(0,df2["skin"].mean())
df2["test"]=df2["test"].replace(0,df2["test"].mean())
df2["mass"]=df2["mass"].replace(0,df2["mass"].mean())
df2["pedi"]=df2["pedi"].replace(0,df2["pedi"].mean())
# chenging 0 values to their respective mean values of the columns

In [304]:
df2

     Preg   Plas  Pres       skin        test  mass   pedi  age  class
0       6  148.0  72.0  35.000000   79.799479  33.6  0.627   50      1
1       1   85.0  66.0  29.000000   79.799479  26.6  0.351   31      0
2       8  183.0  64.0  20.536458   79.799479  23.3  0.672   32      1
3       1   89.0  66.0  23.000000   94.000000  28.1  0.167   21      0
4       0  137.0  40.0  35.000000  168.000000  43.1  2.288   33      1
..    ...    ...   ...        ...         ...   ...    ...  ...    ...
763    10  101.0  76.0  48.000000  180.000000  32.9  0.171   63      0
764     2  122.0  70.0  27.000000   79.799479  36.8  0.340   27      0
765     5  121.0  72.0  23.000000  112.000000  26.2  0.245   30      0
766     1  126.0  60.0  20.536458   79.799479  30.1  0.349   47      1
767     1   93.0  70.0  31.000000   79.799479  30.4  0.315   23      0

[768 rows x 9 columns]

In [305]:
df2.describe()

,Preg,Plas,Pres,skin,test,mass,pedi,age,class
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,121.681605,72.254807,26.606479,118.660163,32.450805,0.471876,33.240885,0.348958
std,3.369578,30.436016,12.115932,9.631241,93.080358,6.875374,0.331329,11.760232,0.476951
min,0.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.750000,64.000000,20.536458,79.799479,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,79.799479,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [306]:
x=df2.iloc[:,0:8] # taking all independent variables
y=df2.iloc[:,-1] # taking dependent variables

In [307]:
x

     Preg   Plas  Pres       skin        test  mass   pedi  age
0       6  148.0  72.0  35.000000   79.799479  33.6  0.627   50
1       1   85.0  66.0  29.000000   79.799479  26.6  0.351   31
2       8  183.0  64.0  20.536458   79.799479  23.3  0.672   32
3       1   89.0  66.0  23.000000   94.000000  28.1  0.167   21
4       0  137.0  40.0  35.000000  168.000000  43.1  2.288   33
..    ...    ...   ...        ...         ...   ...    ...  ...
763    10  101.0  76.0  48.000000  180.000000  32.9  0.171   63
764     2  122.0  70.0  27.000000   79.799479  36.8  0.340   27
765     5  121.0  72.0  23.000000  112.000000  26.2  0.245   30
766     1  126.0  60.0  20.536458   79.799479  30.1  0.349   47
767     1   93.0  70.0  31.000000   79.799479  30.4  0.315   23

[768 rows x 8 columns]

In [308]:
x.shape

(768, 8)

In [309]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: class, Length: 768, dtype: int64

In [310]:
y.shape

(768,)

In [311]:
from sklearn.model_selection import train_test_split # importing train_test_split

In [312]:
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.2, random_state=12)

In [313]:
from sklearn.linear_model import LogisticRegression # importing logisticregression
from sklearn.metrics import accuracy_score # importing accuraccy_score

In [314]:
clf= LogisticRegression(random_state=0, solver='newton-cg', verbose=1)

In [315]:
clf.fit(x_train,y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s finished

LogisticRegression(random_state=0, solver='newton-cg', verbose=1)

In [316]:
pred1=clf.predict(x_train)

In [317]:
score1=accuracy_score(y_train,pred1)

In [318]:
score1
print("score of y_train and pred1 is ",score1*100)

score of y_train and pred1 is  76.71009771986971

In [319]:
pred2=clf.predict(x_test)

In [320]:
score2=accuracy_score(y_test, pred2)

In [321]:
score2
print("score of y_test and pred2 is ",score2*100)

score of y_test and pred2 is  81.16883116883116

In [322]:
# we are getting 81.16% score